#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.seleced_rows{
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
.overlay-panel{
  display: flex;
  flex-direction: column;

}
.input-box{
  display: flex;
  align-items: center;
}
.select-btn{
  background-color: rgb(14, 115, 158);
  border-radius: 6px;
  padding: 6px 8px;
  margin: 4px;
}
.p-overlaypanel .p-inputnumber .p-inputnumber-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-width: 2rem !important; 
    min-height: 1.5rem !important;
}


.p-overlaypanel .p-inputnumber-button .p-button-icon {
    font-size: 1rem !important;
    visibility: visible !important;
    color: var(--primary-color, #007ad9) !important;
}